.card img {
  margin: 0 !important;
}

div.tabs ul {
  margin-bottom: 0 !important;
}

div.tabs > div {
  padding: 12px;
  background-color: #f9f9fb;
}

.dark div.tabs > div {
  background-color: #1a1f28;
}

ol ol {
  list-style-type: decimal !important;
}

.custom_card img {
  margin: 0 !important;
}

.card-group {
  row-gap: 20px;
}

.dark #chat-content {
  color: #9fa3a1;
}

.mdx-content code {
  padding-left: 0;
  padding-right: 0;
}

.prose :where(a code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  text-decoration: none !important;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-weight: 500;
  color: #2cb46b;
}

.dark .prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)),
.prose a:is(.dark *) {
  font-weight: 500;
  color: #2cb46b;
}
