{
  "openapi": "3.0.1",
  "info": {
    "title": "Config V1 API",
    "description": "\nThe Config API provides standard HTTP/JSON REST endpoints for creating, reading,\nupdating, deleting, and listing configurable Chronosphere resources.\n\nUse this link to download the raw Swagger specification:\n<a href=\"/api/v1/config/swagger.json\">/api/v1/config/swagger.json</a>\n",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://docs.chronosphere.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "ConfigV1"
    }
  ],
  "paths": {
    "/api/v1/config/azure-metrics-integrations": {
      "get": {
        "tags": [
          "AzureMetricsIntegration"
        ],
        "operationId": "ListAzureMetricsIntegrations",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any AzureMetricsIntegration with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any AzureMetricsIntegration with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListAzureMetricsIntegrationsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "AzureMetricsIntegration"
        ],
        "operationId": "CreateAzureMetricsIntegration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateAzureMetricsIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created AzureMetricsIntegration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateAzureMetricsIntegrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the AzureMetricsIntegration because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the AzureMetricsIntegration because there is a conflict with an existing AzureMetricsIntegration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/azure-metrics-integrations/{slug}": {
      "get": {
        "tags": [
          "AzureMetricsIntegration"
        ],
        "operationId": "ReadAzureMetricsIntegration",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadAzureMetricsIntegrationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the AzureMetricsIntegration because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AzureMetricsIntegration"
        ],
        "operationId": "UpdateAzureMetricsIntegration",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateAzureMetricsIntegrationBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated AzureMetricsIntegration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateAzureMetricsIntegrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the AzureMetricsIntegration because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the AzureMetricsIntegration because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the AzureMetricsIntegration because there is a conflict with an existing AzureMetricsIntegration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "AzureMetricsIntegration"
        ],
        "operationId": "DeleteAzureMetricsIntegration",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteAzureMetricsIntegrationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the AzureMetricsIntegration because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the AzureMetricsIntegration because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/buckets": {
      "get": {
        "tags": [
          "Bucket"
        ],
        "operationId": "ListBuckets",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any Bucket with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any Bucket with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListBucketsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Bucket"
        ],
        "operationId": "CreateBucket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateBucketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created Bucket.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateBucketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the Bucket because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the Bucket because there is a conflict with an existing Bucket.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/buckets/{slug}": {
      "get": {
        "tags": [
          "Bucket"
        ],
        "operationId": "ReadBucket",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadBucketResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the Bucket because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Bucket"
        ],
        "operationId": "UpdateBucket",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateBucketBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated Bucket.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateBucketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the Bucket because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the Bucket because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the Bucket because there is a conflict with an existing Bucket.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Bucket"
        ],
        "operationId": "DeleteBucket",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force_delete",
            "in": "query",
            "description": "force_delete indicates deletion of the bucket and all resources that reference the bucket.\nThis includes monitors, dashboards, notification policies, recording rules, and alerts.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteBucketResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the Bucket because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the Bucket because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/classic-dashboards": {
      "get": {
        "tags": [
          "ClassicDashboard"
        ],
        "operationId": "ListClassicDashboards",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any ClassicDashboard with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "bucket_slugs",
            "in": "query",
            "description": "Filters results by bucket_slug, where any ClassicDashboard with a matching bucket_slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "collection_slugs",
            "in": "query",
            "description": "Filters results by collection_slug, where any ClassicDashboard with a matching collection_slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any ClassicDashboard with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_dashboard_json",
            "in": "query",
            "description": "Optional flag to populate the dashboard_json of the returned dashboards.\nBy default, dashboard_json will be left empty.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListClassicDashboardsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ClassicDashboard"
        ],
        "operationId": "CreateClassicDashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateClassicDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created GrafanaDashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateClassicDashboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the GrafanaDashboard because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the GrafanaDashboard because there is a conflict with an existing GrafanaDashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/classic-dashboards/{slug}": {
      "get": {
        "tags": [
          "ClassicDashboard"
        ],
        "operationId": "ReadClassicDashboard",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadClassicDashboardResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the GrafanaDashboard because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ClassicDashboard"
        ],
        "operationId": "UpdateClassicDashboard",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateClassicDashboardBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated GrafanaDashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateClassicDashboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the GrafanaDashboard because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the GrafanaDashboard because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the GrafanaDashboard because there is a conflict with an existing GrafanaDashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "ClassicDashboard"
        ],
        "operationId": "DeleteClassicDashboard",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteClassicDashboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the GrafanaDashboard because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the GrafanaDashboard because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/collections": {
      "get": {
        "tags": [
          "Collection"
        ],
        "operationId": "ListCollections",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any Collection with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "team_slugs",
            "in": "query",
            "description": "Filters results by team_slug, where any Collection with a matching team_slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any Collection with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "notification_policy_slugs",
            "in": "query",
            "description": "Get collections that directly reference notification policies specified in\nthis array. To specify a notification policy, include its slug.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListCollectionsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Collection"
        ],
        "operationId": "CreateCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateCollectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the Collection because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the Collection because there is a conflict with an existing Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/collections/{slug}": {
      "get": {
        "tags": [
          "Collection"
        ],
        "operationId": "ReadCollection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadCollectionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the Collection because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Collection"
        ],
        "operationId": "UpdateCollection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateCollectionBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the Collection because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the Collection because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the Collection because there is a conflict with an existing Collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Collection"
        ],
        "operationId": "DeleteCollection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the Collection because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the Collection because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/consumption-budgets": {
      "get": {
        "tags": [
          "ConsumptionBudget"
        ],
        "operationId": "ListConsumptionBudgets",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any ConsumptionBudget with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any ConsumptionBudget with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "partition_slug_paths",
            "in": "query",
            "description": "Filters results by partition_slug_path, where any ConsumptionBudget with a matching partition_slug_path in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "resources",
            "in": "query",
            "description": "Filters results by resource, where any ConsumptionBudget with a matching resource in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "LOG_PERSISTED_BYTES",
                  "LOG_PROCESSED_BYTES",
                  "METRIC_PERSISTED_SERIES"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListConsumptionBudgetsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ConsumptionBudget"
        ],
        "operationId": "CreateConsumptionBudget",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateConsumptionBudgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created ConsumptionBudget.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateConsumptionBudgetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the ConsumptionBudget because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the ConsumptionBudget because there is a conflict with an existing ConsumptionBudget.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/consumption-budgets/{slug}": {
      "get": {
        "tags": [
          "ConsumptionBudget"
        ],
        "operationId": "ReadConsumptionBudget",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadConsumptionBudgetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the ConsumptionBudget because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ConsumptionBudget"
        ],
        "operationId": "UpdateConsumptionBudget",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateConsumptionBudgetBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated ConsumptionBudget.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateConsumptionBudgetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the ConsumptionBudget because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the ConsumptionBudget because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the ConsumptionBudget because there is a conflict with an existing ConsumptionBudget.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "ConsumptionBudget"
        ],
        "operationId": "DeleteConsumptionBudget",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteConsumptionBudgetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the ConsumptionBudget because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the ConsumptionBudget because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/consumption-config": {
      "get": {
        "tags": [
          "ConsumptionConfig"
        ],
        "operationId": "ReadConsumptionConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadConsumptionConfigResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the ConsumptionConfig because ConsumptionConfig has not been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ConsumptionConfig"
        ],
        "operationId": "UpdateConsumptionConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1UpdateConsumptionConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated ConsumptionConfig.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateConsumptionConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the ConsumptionConfig because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the ConsumptionConfig because ConsumptionConfig has not been created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "tags": [
          "ConsumptionConfig"
        ],
        "operationId": "CreateConsumptionConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateConsumptionConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created ConsumptionConfig.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateConsumptionConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the ConsumptionConfig because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the ConsumptionConfig because there is a conflict with an existing ConsumptionConfig.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "ConsumptionConfig"
        ],
        "operationId": "DeleteConsumptionConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteConsumptionConfigResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the ConsumptionConfig because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the ConsumptionConfig because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "ListDashboards",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any Dashboard with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "collection_slugs",
            "in": "query",
            "description": "Filters results by collection_slug, where any Dashboard with a matching collection_slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any Dashboard with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_dashboard_json",
            "in": "query",
            "description": "Optional. Flag to populate the `dashboard_json` field of the returned\ndashboards. By default, `dashboard_json` is empty.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListDashboardsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "CreateDashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created Dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateDashboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the Dashboard because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the Dashboard because there is a conflict with an existing Dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/dashboards/{slug}": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "ReadDashboard",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadDashboardResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the Dashboard because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "UpdateDashboard",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateDashboardBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated Dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateDashboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the Dashboard because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the Dashboard because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the Dashboard because there is a conflict with an existing Dashboard.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "DeleteDashboard",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteDashboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the Dashboard because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the Dashboard because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/datasets": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "operationId": "ListDatasets",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any Dataset with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any Dataset with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Custom filtering option: list filtered down to a specific telemetry type.",
            "schema": {
              "type": "string",
              "enum": [
                "TRACES",
                "LOGS"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListDatasetsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dataset"
        ],
        "operationId": "CreateDataset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateDatasetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateDatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the Dataset because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the Dataset because there is a conflict with an existing Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/datasets/{slug}": {
      "get": {
        "tags": [
          "Dataset"
        ],
        "operationId": "ReadDataset",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadDatasetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the Dataset because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Dataset"
        ],
        "operationId": "UpdateDataset",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateDatasetBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateDatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the Dataset because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the Dataset because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the Dataset because there is a conflict with an existing Dataset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "Dataset"
        ],
        "operationId": "DeleteDataset",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteDatasetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the Dataset because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the Dataset because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/config/derived-labels": {
      "get": {
        "tags": [
          "DerivedLabel"
        ],
        "operationId": "ListDerivedLabels",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slugs",
            "in": "query",
            "description": "Filters results by slug, where any DerivedLabel with a matching slug in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "names",
            "in": "query",
            "description": "Filters results by name, where any DerivedLabel with a matching name in the given list (and matches all other filters) will be returned.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ListDerivedLabelsResponse"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DerivedLabel"
        ],
        "operationId": "CreateDerivedLabel",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/configv1CreateDerivedLabelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the created DerivedLabel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1CreateDerivedLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot create the DerivedLabel because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot create the DerivedLabel because there is a conflict with an existing DerivedLabel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/config/derived-labels/{slug}": {
      "get": {
        "tags": [
          "DerivedLabel"
        ],
        "operationId": "ReadDerivedLabel",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1ReadDerivedLabelResponse"
                }
              }
            }
          },
          "404": {
            "description": "Cannot read the DerivedLabel because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DerivedLabel"
        ],
        "operationId": "UpdateDerivedLabel",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfigV1UpdateDerivedLabelBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response containing the updated DerivedLabel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1UpdateDerivedLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot update the DerivedLabel because the request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot update the DerivedLabel because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "409": {
            "description": "Cannot update the DerivedLabel because there is a conflict with an existing DerivedLabel.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/genericError"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      },
      "delete": {
        "tags": [
          "DerivedLabel"
        ],
        "operationId": "DeleteDerivedLabel",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/configv1DeleteDerivedLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete the DerivedLabel because it is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "404": {
            "description": "Cannot delete the DerivedLabel because the slug does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          },
          "default": {
            "description": "An undefined error response.",
            "content": {
[...]
