{
  "openapi": "3.0.1",
  "info": {
    "title": "State V1 API",
    "description": "\nThe State API provides HTTP/JSON REST endpoints for accessing the runtime state\nof the Chronosphere system.\n\nUse this link to download the raw Swagger specification:\n<a href=\"/api/v1/state/swagger.json\">/api/v1/state/swagger.json</a>\n",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://docs.chronosphere.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "StateV1"
    }
  ],
  "paths": {
    "/api/v1/state/metric-usages-by-label-name": {
      "get": {
        "tags": [
          "MetricUsagesByLabelName"
        ],
        "operationId": "ListMetricUsagesByLabelName",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order.ascending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "order.by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "VALUABLE",
                "DPPS",
                "UTILITY",
                "REFERENCES",
                "EXECUTIONS",
                "UNIQUE_VALUES",
                "UNIQUE_USERS"
              ]
            }
          },
          {
            "name": "lookback_secs",
            "in": "query",
            "description": "Controls the time range over which query executions are included in usages. Defaults to `2592000` (30 days).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "label_name_glob",
            "in": "query",
            "description": "Glob match string for filtering results by label name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_counts_by_type",
            "in": "query",
            "description": "If `true`, responses include the fields `reference_counts_by_type` and `query_execution_counts_by_type`. If `false`, these fields are returned empty.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statev1ListMetricUsagesByLabelNameResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/state/metric-usages-by-metric-name": {
      "get": {
        "tags": [
          "MetricUsagesByMetricName"
        ],
        "operationId": "ListMetricUsagesByMetricName",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order.ascending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "order.by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "VALUABLE",
                "DPPS",
                "UTILITY",
                "REFERENCES",
                "EXECUTIONS",
                "UNIQUE_VALUES",
                "UNIQUE_USERS"
              ]
            }
          },
          {
            "name": "lookback_secs",
            "in": "query",
            "description": "Controls the time range over which query executions are included in usages. Defaults to `2592000` (30 days).",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "metric_name_glob",
            "in": "query",
            "description": "Glob match string for filtering results by metric name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_counts_by_type",
            "in": "query",
            "description": "If `true`, responses include the fields `reference_counts_by_type` and `query_execution_counts_by_type`. If `false`, these fields are returned empty.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statev1ListMetricUsagesByMetricNameResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/state/rule-evaluations": {
      "get": {
        "tags": [
          "RuleEvaluations"
        ],
        "operationId": "ListRuleEvaluations",
        "parameters": [
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/statev1ListRuleEvaluationsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MetricUsageOrderBy": {
        "type": "string",
        "enum": [
          "VALUABLE",
          "DPPS",
          "UTILITY",
          "REFERENCES",
          "EXECUTIONS",
          "UNIQUE_VALUES",
          "UNIQUE_USERS"
        ]
      },
      "MetricUsageQueryExecutionCountsByType": {
        "type": "object",
        "properties": {
          "dashboard": {
            "type": "integer",
            "format": "int32"
          },
          "explorer": {
            "type": "integer",
            "format": "int32"
          },
          "external": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MetricUsageReferenceCountsByType": {
        "type": "object",
        "properties": {
          "aggregation_rules": {
            "type": "integer",
            "format": "int32"
          },
          "dashboards": {
            "type": "integer",
            "format": "int32"
          },
          "drop_rules": {
            "type": "integer",
            "format": "int32"
          },
          "monitors": {
            "type": "integer",
            "format": "int32"
          },
          "recording_rules": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RuleEvaluationRuleType": {
        "type": "string",
        "enum": [
          "MONITOR",
          "RECORDING"
        ]
      },
      "apiError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "An error message describing what went wrong."
          }
        }
      },
      "configv1PageParams": {
        "type": "object",
        "properties": {
          "max_size": {
            "type": "integer",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "format": "int64"
          },
          "token": {
            "type": "string",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page."
          }
        }
      },
      "configv1PageResult": {
        "type": "object",
        "properties": {
          "next_token": {
            "type": "string",
            "description": "An opaque page token that identifies the next page of items that the\nclient should request. An empty value indicates that there are no\nmore items to return."
          }
        }
      },
      "genericError": {
        "type": "object",
        "additionalProperties": true
      },
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "statev1ListMetricUsagesByLabelNameResponse": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/configv1PageResult"
          },
          "usages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/statev1MetricUsageByLabelName"
            }
          }
        }
      },
      "statev1ListMetricUsagesByMetricNameResponse": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/configv1PageResult"
          },
          "usages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/statev1MetricUsageByMetricName"
            }
          }
        }
      },
      "statev1ListRuleEvaluationsResponse": {
        "type": "object",
        "properties": {
          "page": {
            "$ref": "#/components/schemas/configv1PageResult"
          },
          "rule_evaluations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/statev1RuleEvaluation"
            }
          }
        }
      },
      "statev1MetricUsage": {
        "type": "object",
        "properties": {
          "query_execution_counts_by_type": {
            "$ref": "#/components/schemas/MetricUsageQueryExecutionCountsByType"
          },
          "reference_counts_by_type": {
            "$ref": "#/components/schemas/MetricUsageReferenceCountsByType"
          },
          "total_query_executions": {
            "type": "integer",
            "format": "int32"
          },
          "total_references": {
            "type": "integer",
            "format": "int32"
          },
          "total_unique_users": {
            "type": "integer",
            "format": "int32"
          },
          "utility_score": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "statev1MetricUsageByLabelName": {
        "type": "object",
        "properties": {
          "dpps": {
            "type": "number",
            "format": "double"
          },
          "label_name": {
            "type": "string"
          },
          "percent_of_series_with_label_name": {
            "type": "number",
            "description": "Percent of persisted series observed to have the label name.\nReturns in format: [0.0, 100.0]",
            "format": "double"
          },
          "total_unique_values": {
            "type": "integer",
            "format": "int32"
          },
          "usage": {
            "$ref": "#/components/schemas/statev1MetricUsage"
          }
        }
      },
      "statev1MetricUsageByMetricName": {
        "type": "object",
        "properties": {
          "dpps": {
            "type": "number",
            "format": "double"
          },
          "metric_name": {
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/statev1MetricUsage"
          }
        }
      },
      "statev1MetricUsageOrder": {
        "type": "object",
        "properties": {
          "ascending": {
            "type": "boolean"
          },
          "by": {
            "$ref": "#/components/schemas/MetricUsageOrderBy"
          }
        }
      },
      "statev1RuleEvaluation": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The number of rule evaluation issues occurred over last 5 minutes.",
            "format": "int32"
          },
          "detected_at": {
            "type": "string",
            "description": "Timestamp when the rule evaluation issues are detected.\nRule evaluations issues are aggregated over last 5 minute leading up to detected_at.",
            "format": "date-time"
          },
          "message": {
            "type": "string",
            "description": "Detailed message related to rule evaluation issue. See \"Admin > Evaluation failures\" in the Chronosphere documentation for more information."
          },
          "rule_slug": {
            "type": "string",
            "description": "Unique identifier of the rule."
          },
          "rule_type": {
            "type": "object",
            "description": "Type of the rule.",
            "example": "MONITOR",
            "allOf": [
              {
                "$ref": "#/components/schemas/RuleEvaluationRuleType"
              }
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "Chronosphere API token",
        "name": "API-Token",
        "in": "header"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}