{
  "openapi": "3.0.1",
  "info": {
    "title": "State Unstable API",
    "description": "\n<b>WARNING: This API is unstable and is meant for experimentation only. Do not\nuse this API in production. The endpoints and schemas referenced in this\ndocumentation will be changed or removed without notice and without any\nbackwards compatibility guarantee. Note that even though this API is unstable,\nit is still connected to production data, so use with caution.</b>",
    "version": "UNSTABLE"
  },
  "servers": [
    {
      "url": "https://docs.chronosphere.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "StateUnstable"
    }
  ],
  "paths": {
    "/api/unstable/state/echo": {
      "get": {
        "tags": [
          "StateUnstable"
        ],
        "operationId": "Echo",
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stateunstableEchoResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/unstable/state/monitors-statuses": {
      "get": {
        "tags": [
          "StateUnstable"
        ],
        "operationId": "ListMonitorStatuses",
        "parameters": [
          {
            "name": "monitor_slugs",
            "in": "query",
            "description": "Filter by monitor slug.\nIf all filters are empty, return status for all monitors.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "collection_slugs",
            "in": "query",
            "description": "Filter monitor state by owning collection.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "team_slugs",
            "in": "query",
            "description": "Filter monitor state by owning team.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "include_signal_statuses",
            "in": "query",
            "description": "include_signal_statuses must be true for include_series_statuses to be true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_series_statuses",
            "in": "query",
            "description": "include_signal_statuses must be true for include_series_statuses to be true.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "SORT_BY_STATE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stateunstableListMonitorStatusesResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ListMonitorStatusesRequestSortOrder": {
        "type": "string",
        "enum": [
          "SORT_BY_STATE"
        ]
      },
      "MonitorStatusSignalStatus": {
        "type": "object",
        "properties": {
          "series": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SignalStatusSeriesStatus"
            }
          },
          "severity": {
            "type": "string"
          },
          "signal_labels": {
            "type": "array",
            "description": "Signal labels.",
            "items": {
              "$ref": "#/components/schemas/commonLabel"
            }
          },
          "state": {
            "$ref": "#/components/schemas/stateunstableAlertingState"
          }
        }
      },
      "SignalStatusSeriesStatus": {
        "type": "object",
        "properties": {
          "labels": {
            "type": "array",
            "description": "Series labels.",
            "items": {
              "$ref": "#/components/schemas/commonLabel"
            }
          },
          "severity": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "state": {
            "$ref": "#/components/schemas/stateunstableAlertingState"
          }
        }
      },
      "apiError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "An error message describing what went wrong."
          }
        }
      },
      "commonLabel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "commonPromQLMatcher": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Prometheus label name for the matcher"
          },
          "type": {
            "type": "object",
            "description": "The type of match to be performed",
            "allOf": [
              {
                "$ref": "#/components/schemas/commonPromQLMatcherType"
              }
            ]
          },
          "value": {
            "type": "string",
            "description": "Prometheus label value for the matcher"
          }
        }
      },
      "commonPromQLMatcherType": {
        "type": "string",
        "enum": [
          "MatchEqual",
          "MatchRegexp",
          "MatchNotEqual",
          "MatchNotRegexp"
        ]
      },
      "genericError": {
        "type": "object",
        "additionalProperties": true
      },
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "stateunstableAlertingState": {
        "type": "string",
        "description": " - ALERTING_STATE_PASS: Monitor is not triggered.\n - ALERTING_STATE_PENDING: Monitor is triggered but not yet alerting.\n - ALERTING_STATE_ALERTING: Monitor is triggered and alerting.\n - ALERTING_STATE_MUTED: Monitor is triggered but is muted.",
        "enum": [
          "ALERTING_STATE_PASS",
          "ALERTING_STATE_PENDING",
          "ALERTING_STATE_ALERTING",
          "ALERTING_STATE_MUTED"
        ]
      },
      "stateunstableEchoResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "stateunstableListMonitorStatusesResponse": {
        "type": "object",
        "properties": {
          "monitor_statuses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/stateunstableMonitorStatus"
            }
          }
        }
      },
      "stateunstableMonitorStatus": {
        "type": "object",
        "properties": {
          "severity": {
            "type": "string"
          },
          "signals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonitorStatusSignalStatus"
            }
          },
          "slug": {
            "type": "string"
          },
          "state": {
            "$ref": "#/components/schemas/stateunstableAlertingState"
          }
        },
        "description": "MonitorStatus contains the status of a monitor."
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "Chronosphere API token",
        "name": "API-Token",
        "in": "header"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}