{
  "openapi": "3.0.1",
  "info": {
    "title": "Data V1 API",
    "description": "\nThe Data API provides HTTP/JSON REST endpoints for reading and writing data\nto the Chronosphere system.\n\nUse this link to download the raw Swagger specification:\n<a href=\"/api/v1/data/swagger.json\">/api/v1/data/swagger.json</a>\n",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://docs.chronosphere.io"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "DataV1"
    }
  ],
  "paths": {
    "/api/v1/data/events": {
      "get": {
        "tags": [
          "DataV1"
        ],
        "operationId": "ListEvents",
        "parameters": [
          {
            "name": "happened_after",
            "in": "query",
            "description": "Only events which happened_at after this time will be returned. If set, happened_before must also be set.\nIf no time range is set, defaults to 1 hour ago.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "happened_before",
            "in": "query",
            "description": "Only events which happened_at before this will be returned. If set, happened_after must also be set.\nIf no time range is set, defaults to now.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "A query string specifying the query.\nThe query supports the following operators:  `(=, =~, !=, !~, AND, OR)`\nThe query supports nesting using parentheses, and also searching for label values by using a dot operator.\nThe query supports using either `'` or `\"` for identifying strings\n\nExample queries:\n`type = \"my-type\"`\n`type=\"my-type\"`\n`type != 'my-type' AND source !~ \"my-source|my-other-source\"`\n`type =~ \"my-type|my-other-type\" OR (source != \"my-source\" AND labels.cluster =~ \"my-cluster\")`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page.max_size",
            "in": "query",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datav1ListEventsResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "DataV1"
        ],
        "operationId": "CreateEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/datav1CreateEventRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datav1CreateEventResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/api/v1/data/logs:range": {
      "get": {
        "tags": [
          "DataV1"
        ],
        "description": "Logging",
        "operationId": "QueryLogsRange",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Specifies the query to run to filter logs.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_range.after",
            "in": "query",
            "description": "Returns only log messages with a timestamp after this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "time_range.before",
            "in": "query",
            "description": "Returns only log messages with a timestamp before this time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page.token",
            "in": "query",
            "description": "Opaque page token identifying which page to request. An empty token\nidentifies the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datav1QueryLogsRangeResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/data/traces": {
      "post": {
        "tags": [
          "DataV1"
        ],
        "description": "Tracing",
        "operationId": "ListTraces",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/datav1ListTracesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/datav1ListTracesResponse"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/googlerpcStatus"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    }
  },
  "components": {
    "schemas": {
      "ListTracesRequestQueryType": {
        "type": "string",
        "enum": [
          "TRACE_IDS",
          "SERVICE_OPERATION"
        ]
      },
      "ListTracesRequestTagFilter": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The key (or name) of the span tag that is inspected by this filter."
          },
          "numeric_value": {
            "type": "object",
            "description": "Matcher used to evaluate the span tag value as a numeric value (if the\ntag with the given key is found and the value type is numerical).",
            "allOf": [
              {
                "$ref": "#/components/schemas/TagFilterNumericFilter"
              }
            ]
          },
          "value": {
            "type": "object",
            "description": "Matcher used to evaluate the span tag value (if the tag with the given\nkey is found and the value type is a string).",
            "allOf": [
              {
                "$ref": "#/components/schemas/TagFilterStringFilter"
              }
            ]
          }
        }
      },
      "NumericFilterComparisonType": {
        "type": "string",
        "enum": [
          "EQUAL",
          "NOT_EQUAL",
          "GREATER_THAN",
          "GREATER_THAN_OR_EQUAL",
          "LESS_THAN",
          "LESS_THAN_OR_EQUAL"
        ]
      },
      "QueryLogsRangeRequestTimestampFilter": {
        "type": "object",
        "properties": {
          "after": {
            "type": "string",
            "description": "Returns only log messages with a timestamp after this time.",
            "format": "date-time"
          },
          "before": {
            "type": "string",
            "description": "Returns only log messages with a timestamp before this time.",
            "format": "date-time"
          }
        }
      },
      "QueryLogsRangeResponseColumnMeta": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The column names to include in the tabular results."
          },
          "type": {
            "$ref": "#/components/schemas/QueryLogsRangeResponseColumnMetaType"
          }
        }
      },
      "QueryLogsRangeResponseColumnMetaType": {
        "type": "string",
        "description": "The data type to include in each column.",
        "enum": [
          "BOOLEAN",
          "FLOAT",
          "STRING"
        ]
      },
      "QueryLogsRangeResponseGridData": {
        "type": "object",
        "properties": {
          "columns": {
            "type": "array",
            "description": "Defines the structure and data types of columns in tabular log results.",
            "items": {
              "$ref": "#/components/schemas/QueryLogsRangeResponseColumnMeta"
            }
          },
          "rows": {
            "type": "array",
            "description": "Defines the structure and data types of rows in tabular log results.",
            "items": {
              "$ref": "#/components/schemas/QueryLogsRangeResponseRow"
            }
          }
        }
      },
      "QueryLogsRangeResponseMetadata": {
        "type": "object",
        "properties": {
          "limit_enforced": {
            "type": "boolean",
            "description": "Indicates whether the result is truncated by the request limit."
          },
          "page": {
            "type": "object",
            "description": "If set, there are more results to return.",
            "allOf": [
              {
                "$ref": "#/components/schemas/QueryLogsRangeResponseMetadataPageResult"
              }
            ]
          }
        }
      },
      "QueryLogsRangeResponseMetadataPageResult": {
        "type": "object",
        "properties": {
          "next_token": {
            "type": "string",
            "description": "Opaque page token that identifies the next page of items to request.\nAn empty value indicates there are no more items to return."
          }
        }
      },
      "QueryLogsRangeResponseRow": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "description": "Values to include that match each column type. Only one of the supported\nfields can be set depending on the type of value.",
            "items": {
              "$ref": "#/components/schemas/QueryLogsRangeResponseRowValue"
            }
          }
        }
      },
      "QueryLogsRangeResponseRowValue": {
        "type": "object",
        "properties": {
          "bool_value": {
            "type": "boolean",
            "description": "Indicates a boolean value."
          },
          "float_value": {
            "type": "number",
            "description": "Indicates a float value.",
            "format": "double"
          },
          "string_value": {
            "type": "string",
            "description": "Indicates a string value."
          }
        }
      },
      "QueryLogsRangeResponseTimeSeriesData": {
        "type": "object",
        "properties": {
          "group_by_dimension_names": {
            "type": "array",
            "description": "Names of the dimensions to group results by.",
            "items": {
              "type": "string"
            }
          },
          "series": {
            "type": "array",
            "description": "Specifies the time series to return from query results.",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesDataTimeSeries"
            }
          }
        }
      },
      "SpanLink": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "array",
            "description": "attributes is a collection of attribute key/value pairs on the link.\nAttribute keys MUST be unique (it is not allowed to have more than one\nattribute with the same key).",
            "items": {
              "$ref": "#/components/schemas/v1KeyValue"
            }
          },
          "dropped_attributes_count": {
            "type": "integer",
            "description": "dropped_attributes_count is the number of dropped attributes. If the value is 0,\nthen no attributes were dropped.",
            "format": "int64"
          },
          "flags": {
            "type": "integer",
            "description": "Flags, a bit field.\n\nBits 0-7 (8 least significant bits) are the trace flags as defined in W3C Trace\nContext specification. To read the 8-bit W3C trace flag, use\n`flags & SPAN_FLAGS_TRACE_FLAGS_MASK`.\n\nSee https://www.w3.org/TR/trace-context-2/#trace-flags for the flag definitions.\n\nBits 8 and 9 represent the 3 states of whether the link is remote.\nThe states are (unknown, is not remote, is remote).\nTo read whether the value is known, use `(flags & SPAN_FLAGS_CONTEXT_HAS_IS_REMOTE_MASK) != 0`.\nTo read whether the link is remote, use `(flags & SPAN_FLAGS_CONTEXT_IS_REMOTE_MASK) != 0`.\n\nReaders MUST NOT assume that bits 10-31 (22 most significant bits) will be zero.\nWhen creating new spans, bits 10-31 (most-significant 22-bits) MUST be zero.\n\n[Optional].",
            "format": "int64"
          },
          "span_id": {
            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type": "string",
            "description": "A unique identifier for the linked span. The ID is an 8-byte array.",
            "format": "byte"
          },
          "trace_id": {
            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type": "string",
            "description": "A unique identifier of a trace that this linked span is part of. The ID is a\n16-byte array.",
            "format": "byte"
          },
          "trace_state": {
            "type": "string",
            "description": "The trace_state associated with the link."
          }
        },
        "description": "A pointer from the current span to another span in the same trace or in a\ndifferent trace. For example, this can be used in batching operations,\nwhere a single batch handler processes multiple requests from different\ntraces or when the handler receives a request from a different project."
      },
      "SpanSpanKind": {
        "type": "string",
        "description": "SpanKind is the type of span. Can be used to specify additional relationships between spans\nin addition to a parent/child relationship.\n\n - SPAN_KIND_INTERNAL: Indicates that the span represents an internal operation within an application,\nas opposed to an operation happening at the boundaries. Default value.\n - SPAN_KIND_SERVER: Indicates that the span covers server-side handling of an RPC or other\nremote network request.\n - SPAN_KIND_CLIENT: Indicates that the span describes a request to some remote service.\n - SPAN_KIND_PRODUCER: Indicates that the span describes a producer sending a message to a broker.\nUnlike CLIENT and SERVER, there is often no direct critical path latency relationship\nbetween producer and consumer spans. A PRODUCER span ends when the message was accepted\nby the broker while the logical processing of the message might span a much longer time.\n - SPAN_KIND_CONSUMER: Indicates that the span describes consumer receiving a message from a broker.\nLike the PRODUCER kind, there is often no direct critical path latency relationship\nbetween producer and consumer spans.",
        "enum": [
          "SPAN_KIND_INTERNAL",
          "SPAN_KIND_SERVER",
          "SPAN_KIND_CLIENT",
          "SPAN_KIND_PRODUCER",
          "SPAN_KIND_CONSUMER"
        ]
      },
      "StatusStatusCode": {
        "title": "For the semantics of status codes see\nhttps://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#set-status",
        "type": "string",
        "description": "- STATUS_CODE_OK: The Span has been validated by an Application developer or Operator to \nhave completed successfully.\n - STATUS_CODE_ERROR: The Span contains an error.",
        "enum": [
          "STATUS_CODE_OK",
          "STATUS_CODE_ERROR"
        ]
      },
      "StringFilterStringFilterMatchType": {
        "type": "string",
        "enum": [
          "EXACT",
          "REGEX",
          "EXACT_NEGATION",
          "REGEX_NEGATION",
          "IN",
          "NOT_IN"
        ]
      },
      "TagFilterNumericFilter": {
        "type": "object",
        "properties": {
          "comparison": {
            "type": "object",
            "description": "The comparison operation to be applied to an input against the given filter value.",
            "allOf": [
              {
                "$ref": "#/components/schemas/NumericFilterComparisonType"
              }
            ]
          },
          "value": {
            "type": "number",
            "description": "The filter value used in comparison against match candidates.",
            "format": "double"
          }
        }
      },
      "TagFilterStringFilter": {
        "type": "object",
        "properties": {
          "in_values": {
            "type": "array",
            "description": "Values the filter tests against when using IN or NOT_IN match type.",
            "items": {
              "type": "string"
            }
          },
          "match": {
            "type": "object",
            "description": "If EXACT, compared strings have the exact value of the filter value.",
            "allOf": [
              {
                "$ref": "#/components/schemas/StringFilterStringFilterMatchType"
              }
            ]
          },
          "value": {
            "type": "string",
            "description": "The value the filter compares to the target trace or span field."
          }
        }
      },
      "TimeSeriesBucket": {
        "type": "object",
        "properties": {
          "end_time": {
            "type": "string",
            "description": "The end time of the time range for this bucket.",
            "format": "date-time"
          },
          "float_value": {
            "type": "number",
            "description": "The aggregated value for the time period of this bucket.\nThis value is nullable.",
            "format": "double"
          },
          "start_time": {
            "type": "string",
            "description": "The start time of the time range for this bucket.",
            "format": "date-time"
          }
        }
      },
      "TimeSeriesDataTimeSeries": {
        "type": "object",
        "properties": {
          "aggregation_name": {
            "type": "string",
            "description": "Name of the aggregation used to calculate the values."
          },
          "buckets": {
            "type": "array",
            "description": "Defines a time-bounded data point in a time series to store aggregated\nvalues over specific time intervals.",
            "items": {
              "$ref": "#/components/schemas/TimeSeriesBucket"
            }
          },
          "group_by_dimension_values": {
            "type": "array",
            "description": "Values of the dimensions to group results by.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "apiError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "An error message describing what went wrong."
          }
        }
      },
      "configv1PageParams": {
        "type": "object",
        "properties": {
          "max_size": {
            "type": "integer",
            "description": "Sets the preferred number of items to return per page. If set to `0`, the\nserver will use its default value. Regardless of the value specified, clients\nmust never assume how many items will be returned.",
            "format": "int64"
          },
          "token": {
            "type": "string",
            "description": "An opaque page token that identifies which page the client should request.\nAn empty value indicates the first page."
          }
        }
      },
      "configv1PageResult": {
        "type": "object",
        "properties": {
          "next_token": {
            "type": "string",
            "description": "An opaque page token that identifies the next page of items that the\nclient should request. An empty value indicates that there are no\nmore items to return."
          }
        }
      },
      "datav1CreateEventRequest": {
        "type": "object",
        "properties": {
          "event": {
            "type": "object",
            "description": "Event to create.",
            "allOf": [
              {
                "$ref": "#/components/schemas/datav1Event"
              }
            ]
          }
        }
      },
      "datav1CreateEventResponse": {
        "type": "object"
      },
      "datav1Event": {
        "type": "object",
        "properties": {
          "category": {
            "title": "The category the event belongs to. Must be one of these categories:\n * `alerts`\n * `broadcasts`\n * `chronosphere`\n * `deploys`\n * `feature_flags`\n * `infrastructure`\n * `third_party`",
            "type": "string",
            "description": "Change Event categories are case sensitive. Each of the listed categories are\nlowercase and must be queried in all lowercase. For example, `\"category\":\n\"alerts\"` is valid, but `\"category\": \"Alerts\"` is invalid.\n\nChronosphere Support can add and remove custom categories upon request.\nBecause categories are case sensitive, custom categories must be queried using\nthe same case they were created. For example, if you create a category called\n`INGEST`, any queries in Changes Explorer must use `INGEST` in all uppercase\nas the category to query."
          },
          "happened_at": {
            "type": "string",
            "description": "The time the event occurred. Must be between 24 hours in the past or 24 hours\nin the future. Defaults to `now` if not specified.",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the change event.",
            "readOnly": true
          },
          "labels": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Map of queryable labels, which are user-supplied key/value pairs associated\nwith the event.\n * Max labels: 200 per event\n * Max key length: 200 characters\n * Max value length: 5,000 characters"
          },
          "payload_json": {
            "type": "string",
            "description": "A string-escaped representation of the original event in JSON format. You can\nset only `payload_json` or `payload_object`. This field is not queryable. Max\nlength: 100,000 characters."
          },
          "payload_object": {
            "type": "object",
            "properties": {},
            "description": "The JSON payload, if the original event was in key/value format. You can set\nonly `payload_json` or `payload_object`. Max length: 100,000 characters.\nThis field is input only."
          },
          "source": {
            "type": "string",
            "description": "Identifies where the data originated, in cases where a change to the\ninstrumentation or integration is needed. Max length: 50 characters."
          },
          "title": {
            "type": "string",
            "description": "A short description of the event that occurred, such as a commit message of\na code deploy. Max length: 100 characters."
          },
          "type": {
            "type": "string",
            "description": "The event type, which is used to group and differentiate events within a\n`category` or `source`."
          }
        }
      },
      "datav1ListEventsResponse": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/datav1Event"
            }
          },
          "page": {
            "$ref": "#/components/schemas/configv1PageResult"
          }
        }
      },
      "datav1ListTracesRequest": {
        "type": "object",
        "properties": {
          "end_time": {
            "type": "string",
            "description": "End time for the search.",
            "format": "date-time"
          },
          "operation": {
            "type": "string",
            "description": "Operation to filter on. An empty value doesn't apply any operation filter."
          },
          "query_type": {
            "type": "object",
            "description": "Type of query to perform.\nTRACE_IDS: Search for specific trace IDs.\nSERVICE_OPERATION: Search for traces with a specific service and operation, over a specific time frame.",
            "allOf": [
              {
                "$ref": "#/components/schemas/ListTracesRequestQueryType"
              }
            ]
          },
          "service": {
            "type": "string",
            "description": "Service to filter on. An empty value doesn't apply any service filter."
          },
          "start_time": {
            "type": "string",
            "description": "Start time for the search.",
            "format": "date-time"
          },
          "tag_filters": {
            "type": "array",
            "description": "Tag filter to apply. An empty value doesn't apply any tag filter.",
            "items": {
              "$ref": "#/components/schemas/ListTracesRequestTagFilter"
            }
          },
          "trace_ids": {
            "type": "array",
            "description": "Trace IDs to search for.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "datav1ListTracesResponse": {
        "type": "object",
        "properties": {
          "traces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/v1TracesData"
            }
          }
        }
      },
      "datav1QueryLogsRangeRequestPageParams": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Opaque page token identifying which page to request. An empty token\nidentifies the first page."
          }
        }
      },
      "datav1QueryLogsRangeResponse": {
        "type": "object",
        "properties": {
          "grid_data": {
            "type": "object",
            "description": "Returns log query results as in tabular format.",
            "allOf": [
              {
                "$ref": "#/components/schemas/QueryLogsRangeResponseGridData"
              }
            ]
          },
          "metadata": {
            "type": "object",
            "description": "The metadata of the query.",
            "allOf": [
              {
                "$ref": "#/components/schemas/QueryLogsRangeResponseMetadata"
              }
            ]
          },
          "time_series_data": {
            "type": "object",
            "description": "Returns log query results as a time series chart. You can only return\n`group_by_dimension_names` or `series`, depending on the type of query a time\nseries query is defined by using a `make-series` aggregation.",
            "allOf": [
              {
                "$ref": "#/components/schemas/QueryLogsRangeResponseTimeSeriesData"
              }
            ]
          }
        }
      },
      "genericError": {
        "type": "object",
        "additionalProperties": true
      },
      "googlerpcStatus": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/protobufAny"
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "protobufAny": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "string"
          }
        },
        "additionalProperties": {
          "type": "object"
        }
      },
      "protobufNullValue": {
        "type": "string",
        "description": "`NullValue` is a singleton enumeration to represent the null value for the\n`Value` type union.\n\nThe JSON representation for `NullValue` is JSON `null`."
      },
      "tracev1Status": {
        "type": "object",
        "properties": {
          "code": {
            "type": "object",
            "description": "The status code.",
            "allOf": [
              {
                "$ref": "#/components/schemas/StatusStatusCode"
              }
            ]
          },
          "message": {
            "type": "string",
            "description": "A developer-facing human readable error message."
          }
        },
        "description": "The Status type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs."
      },
      "v1AnyValue": {
        "type": "object",
        "properties": {
          "array_value": {
            "$ref": "#/components/schemas/v1ArrayValue"
          },
          "bool_value": {
            "type": "boolean"
          },
          "bytes_value": {
            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type": "string",
            "format": "byte"
          },
          "double_value": {
            "type": "number",
            "format": "double"
          },
          "int_value": {
            "type": "string",
            "format": "int64"
          },
          "kvlist_value": {
            "$ref": "#/components/schemas/v1KeyValueList"
          },
          "string_value": {
            "type": "string"
          }
        },
        "description": "AnyValue is used to represent any type of attribute value. AnyValue may contain a\nprimitive value such as a string or integer or it may contain an arbitrary nested\nobject containing arrays, key-value lists and primitives."
      },
      "v1ArrayValue": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "description": "Array of values. The array may be empty (contain 0 elements).",
            "items": {
              "$ref": "#/components/schemas/v1AnyValue"
            }
          }
        },
        "description": "ArrayValue is a list of AnyValue messages. We need ArrayValue as a message\nsince oneof in AnyValue does not allow repeated fields."
      },
      "v1EntityRef": {
        "type": "object",
        "properties": {
          "description_keys": {
            "type": "array",
            "description": "Descriptive (non-identifying) attribute keys of the entity.\nMAY change over the lifetime of the entity. MAY be empty.\nThese attribute keys are not part of entity's identity.\nThese keys MUST exist in the containing {message}.attributes.",
            "items": {
              "type": "string"
            }
          },
          "id_keys": {
            "type": "array",
            "description": "Attribute Keys that identify the entity.\nMUST not change during the lifetime of the entity. The Id must contain at least one attribute.\nThese keys MUST exist in the containing {message}.attributes.",
            "items": {
              "type": "string"
            }
          },
          "schema_url": {
            "title": "The Schema URL, if known. This is the identifier of the Schema that the entity data\nis recorded in. To learn more about Schema URL see\nhttps://opentelemetry.io/docs/specs/otel/schemas/#schema-url",
            "type": "string",
            "description": "This schema_url applies to the data in this message and to the Resource attributes\nreferenced by id_keys and description_keys.\nTODO: discuss if we are happy with this somewhat complicated definition of what\nthe schema_url applies to.\n\nThis field obsoletes the schema_url field in ResourceMetrics/ResourceSpans/ResourceLogs."
          },
          "type": {
            "type": "string",
            "description": "Defines the type of the entity. MUST not change during the lifetime of the entity.\nFor example: \"service\" or \"host\". This field is required and MUST not be empty\nfor valid entities."
          }
        },
        "description": "A reference to an Entity.\nEntity represents an object of interest associated with produced telemetry: e.g spans, metrics, profiles, or logs.\n\nStatus: [Development]"
      },
      "v1InstrumentationScope": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "array",
            "description": "Additional attributes that describe the scope. [Optional].\nAttribute keys MUST be unique (it is not allowed to have more than one\nattribute with the same key).",
            "items": {
              "$ref": "#/components/schemas/v1KeyValue"
            }
          },
          "dropped_attributes_count": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "An empty instrumentation scope name means the name is unknown."
          },
          "version": {
            "type": "string"
          }
        },
        "description": "InstrumentationScope is a message representing the instrumentation scope information\nsuch as the fully qualified name and version."
      },
      "v1KeyValue": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/v1AnyValue"
          }
        },
        "description": "KeyValue is a key-value pair that is used to store Span attributes, Link\nattributes, etc."
      },
      "v1KeyValueList": {
        "type": "object",
        "properties": {
          "values": {
            "type": "array",
            "description": "A collection of key/value pairs of key-value pairs. The list may be empty (may\ncontain 0 elements).\nThe keys MUST be unique (it is not allowed to have more than one\nvalue with the same key).",
            "items": {
              "$ref": "#/components/schemas/v1KeyValue"
            }
          }
        },
        "description": "KeyValueList is a list of KeyValue messages. We need KeyValueList as a message\nsince `oneof` in AnyValue does not allow repeated fields. Everywhere else where we need\na list of KeyValue messages (e.g. in Span) we use `repeated KeyValue` directly to\navoid unnecessary extra wrapping (which slows down the protocol). The 2 approaches\nare semantically equivalent."
      },
      "v1Resource": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "array",
            "description": "Set of attributes that describe the resource.\nAttribute keys MUST be unique (it is not allowed to have more than one\nattribute with the same key).",
            "items": {
              "$ref": "#/components/schemas/v1KeyValue"
            }
          },
          "dropped_attributes_count": {
            "type": "integer",
            "description": "dropped_attributes_count is the number of dropped attributes. If the value is 0, then\nno attributes were dropped.",
            "format": "int64"
          },
          "entity_refs": {
            "type": "array",
            "description": "Set of entities that participate in this Resource.\n\nNote: keys in the references MUST exist in attributes of this message.\n\nStatus: [Development]",
            "items": {
              "$ref": "#/components/schemas/v1EntityRef"
            }
          }
        },
        "description": "Resource information."
      },
      "v1ResourceSpans": {
        "type": "object",
        "properties": {
          "resource": {
            "type": "object",
            "description": "The resource for the spans in this message.\nIf this field is not set then no resource info is known.",
            "allOf": [
              {
                "$ref": "#/components/schemas/v1Resource"
              }
            ]
          },
          "schema_url": {
            "type": "string",
            "description": "The Schema URL, if known. This is the identifier of the Schema that the resource data\nis recorded in. Notably, the last part of the URL path is the version number of the\nschema: http[s]://server[:port]/path/<version>. To learn more about Schema URL see\nhttps://opentelemetry.io/docs/specs/otel/schemas/#schema-url\nThis schema_url applies to the data in the \"resource\" field. It does not apply\nto the data in the \"scope_spans\" field which have their own schema_url field."
          },
          "scope_spans": {
            "type": "array",
            "description": "A list of ScopeSpans that originate from a resource.",
            "items": {
              "$ref": "#/components/schemas/v1ScopeSpans"
            }
          }
        },
        "description": "A collection of ScopeSpans from a Resource."
      },
      "v1ScopeSpans": {
        "type": "object",
        "properties": {
          "schema_url": {
            "type": "string",
            "description": "The Schema URL, if known. This is the identifier of the Schema that the span data\nis recorded in. Notably, the last part of the URL path is the version number of the\nschema: http[s]://server[:port]/path/<version>. To learn more about Schema URL see\nhttps://opentelemetry.io/docs/specs/otel/schemas/#schema-url\nThis schema_url applies to all spans and span events in the \"spans\" field."
          },
          "scope": {
            "type": "object",
            "description": "The instrumentation scope information for the spans in this message.\nSemantically when InstrumentationScope isn't set, it is equivalent with\nan empty instrumentation scope name (unknown).",
            "allOf": [
              {
                "$ref": "#/components/schemas/v1InstrumentationScope"
              }
            ]
          },
          "spans": {
            "type": "array",
            "description": "A list of Spans that originate from an instrumentation scope.",
            "items": {
              "$ref": "#/components/schemas/v1Span"
            }
          }
        },
        "description": "A collection of Spans produced by an InstrumentationScope."
      },
      "v1Span": {
        "type": "object",
        "properties": {
          "attributes": {
            "title": "attributes is a collection of key/value pairs. Note, global attributes\nlike server name can be set using the resource API. Examples of attributes:",
            "type": "array",
            "description": "\"/http/user_agent\": \"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36\"\n    \"/http/server_latency\": 300\n    \"example.com/myattribute\": true\n    \"example.com/score\": 10.239\n\nThe OpenTelemetry API specification further restricts the allowed value types:\nhttps://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/common/README.md#attribute\nAttribute keys MUST be unique (it is not allowed to have more than one\nattribute with the same key).",
            "items": {
              "$ref": "#/components/schemas/v1KeyValue"
            }
          },
          "dropped_attributes_count": {
            "type": "integer",
            "description": "dropped_attributes_count is the number of attributes that were discarded. Attributes\ncan be discarded because their keys are too long or because there are too many\nattributes. If this value is 0, then no attributes were dropped.",
            "format": "int64"
          },
          "dropped_events_count": {
            "type": "integer",
            "description": "dropped_events_count is the number of dropped events. If the value is 0, then no\nevents were dropped.",
            "format": "int64"
          },
          "dropped_links_count": {
            "type": "integer",
            "description": "dropped_links_count is the number of dropped links after the maximum size was\nenforced. If this value is 0, then no links were dropped.",
            "format": "int64"
          },
          "end_time_unix_nano": {
            "type": "string",
            "description": "end_time_unix_nano is the end time of the span. On the client side, this is the time\nkept by the local machine where the span execution ends. On the server side, this\nis the time when the server application handler stops running.\nValue is UNIX Epoch time in nanoseconds since 00:00:00 UTC on 1 January 1970.\n\nThis field is semantically required and it is expected that end_time >= start_time.",
            "format": "uint64"
          },
          "events": {
            "type": "array",
            "description": "events is a collection of Event items.",
            "items": {
              "$ref": "#/components/schemas/v1SpanEvent"
            }
          },
          "flags": {
            "type": "integer",
            "description": "Flags, a bit field.\n\nBits 0-7 (8 least significant bits) are the trace flags as defined in W3C Trace\nContext specification. To read the 8-bit W3C trace flag, use\n`flags & SPAN_FLAGS_TRACE_FLAGS_MASK`.\n\nSee https://www.w3.org/TR/trace-context-2/#trace-flags for the flag definitions.\n\nBits 8 and 9 represent the 3 states of whether a span's parent\nis remote. The states are (unknown, is not remote, is remote).\nTo read whether the value is known, use `(flags & SPAN_FLAGS_CONTEXT_HAS_IS_REMOTE_MASK) != 0`.\nTo read whether the span is remote, use `(flags & SPAN_FLAGS_CONTEXT_IS_REMOTE_MASK) != 0`.\n\nWhen creating span messages, if the message is logically forwarded from another source\nwith an equivalent flags fields (i.e., usually another OTLP span message), the field SHOULD\nbe copied as-is. If creating from a source that does not have an equivalent flags field\n(such as a runtime representation of an OpenTelemetry span), the high 22 bits MUST\nbe set to zero.\nReaders MUST NOT assume that bits 10-31 (22 most significant bits) will be zero.\n\n[Optional].",
            "format": "int64"
          },
          "kind": {
            "type": "object",
            "description": "Distinguishes between spans generated in a particular context. For example,\ntwo spans with the same name may be distinguished using `CLIENT` (caller)\nand `SERVER` (callee) to identify queueing latency associated with the span.",
            "allOf": [
              {
                "$ref": "#/components/schemas/SpanSpanKind"
              }
            ]
          },
          "links": {
            "type": "array",
            "description": "links is a collection of Links, which are references from this span to a span\nin the same or different trace.",
            "items": {
              "$ref": "#/components/schemas/SpanLink"
            }
          },
          "name": {
            "type": "string",
            "description": "A description of the span's operation.\n\nFor example, the name can be a qualified method name or a file name\nand a line number where the operation is called. A best practice is to use\nthe same display name at the same call point in an application.\nThis makes it easier to correlate spans in different traces.\n\nThis field is semantically required to be set to non-empty string.\nEmpty value is equivalent to an unknown span name.\n\nThis field is required."
          },
          "parent_span_id": {
            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type": "string",
            "description": "The `span_id` of this span's parent span. If this is a root span, then this\nfield must be empty. The ID is an 8-byte array.",
            "format": "byte"
          },
          "span_id": {
            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type": "string",
            "description": "A unique identifier for a span within a trace, assigned when the span\nis created. The ID is an 8-byte array. An ID with all zeroes OR of length\nother than 8 bytes is considered invalid (empty string in OTLP/JSON\nis zero-length and thus is also invalid).\n\nThis field is required.",
            "format": "byte"
          },
          "start_time_unix_nano": {
            "type": "string",
            "description": "start_time_unix_nano is the start time of the span. On the client side, this is the time\nkept by the local machine where the span execution starts. On the server side, this\nis the time when the server's application handler starts running.\nValue is UNIX Epoch time in nanoseconds since 00:00:00 UTC on 1 January 1970.\n\nThis field is semantically required and it is expected that end_time >= start_time.",
            "format": "uint64"
          },
          "status": {
            "type": "object",
            "description": "An optional final status for this span. Semantically when Status isn't set, it means\nspan's status code is unset, i.e. assume STATUS_CODE_UNSET (code = 0).",
            "allOf": [
              {
                "$ref": "#/components/schemas/tracev1Status"
              }
            ]
          },
          "trace_id": {
            "pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$",
            "type": "string",
            "description": "A unique identifier for a trace. All spans from the same trace share\nthe same `trace_id`. The ID is a 16-byte array. An ID with all zeroes OR\nof length other than 16 bytes is considered invalid (empty string in OTLP/JSON\nis zero-length and thus is also invalid).\n\nThis field is required.",
            "format": "byte"
          },
          "trace_state": {
            "type": "string",
            "description": "trace_state conveys information about request position in multiple distributed tracing graphs.\nIt is a trace_state in w3c-trace-context format: https://www.w3.org/TR/trace-context/#tracestate-header\nSee also https://github.com/w3c/distributed-tracing for more details about this field."
          }
        },
        "description": "A Span represents a single operation performed by a single component of the system.\n\nThe next available field id is 17."
      },
      "v1SpanEvent": {
        "type": "object",
        "properties": {
          "attributes": {
            "type": "array",
            "description": "attributes is a collection of attribute key/value pairs on the event.\nAttribute keys MUST be unique (it is not allowed to have more than one\nattribute with the same key).",
            "items": {
              "$ref": "#/components/schemas/v1KeyValue"
            }
          },
          "dropped_attributes_count": {
            "type": "integer",
            "description": "dropped_attributes_count is the number of dropped attributes. If the value is 0,\nthen no attributes were dropped.",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "name of the event.\nThis field is semantically required to be set to non-empty string."
          },
          "time_unix_nano": {
            "type": "string",
            "description": "time_unix_nano is the time the event occurred.",
            "format": "uint64"
          }
        },
        "description": "Event is a time-stamped annotation of the span, consisting of user-supplied\ntext description and key-value pairs."
      },
      "v1TracesData": {
        "type": "object",
        "properties": {
          "resource_spans": {
            "type": "array",
            "description": "An array of ResourceSpans.\nFor data coming from a single resource this array will typically contain\none element. Intermediary nodes that receive data from multiple origins\ntypically batch the data before forwarding further and in that case this\narray will contain multiple elements.",
            "items": {
              "$ref": "#/components/schemas/v1ResourceSpans"
            }
          }
        },
        "description": "TracesData represents the traces data that can be stored in a persistent storage,\nOR can be embedded by other protocols that transfer OTLP traces data but do\nnot implement the OTLP protocol.\n\nThe main difference between this message and collector protocol is that\nin this message there will not be any \"control\" or \"metadata\" specific to\nOTLP protocol.\n\nWhen new fields are added into this message, the OTLP request MUST be updated\nas well."
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "description": "Chronosphere API token",
        "name": "API-Token",
        "in": "header"
      }
    }
  },
  "x-original-swagger-version": "2.0"
}